@keyframes shake {
    0% { transform: translateX(0); }
    33% { transform: translateX(-3px) rotate(-3deg); }
    66% { transform: translateX(3px) rotate(3deg); }
    100% { transform: translateX(0); }
  }

.admin-container {
    display: flex;
    flex-direction: row;
    height: 100vh; 
    .admin-sidebar {
        
    }
    .admin-content {
        display: flex;
        flex-direction: column;
        background-color: #e9ecef;
        width: 100%;
        .admin-header {
            border-bottom: 1px solid rgba(173, 173, 173, 0.8);
            flex-shrink: 0;
            .align-icon{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                span{
                    display: flex;  
                    align-items: center;
                    justify-content: center;
                    height: 35px;
                    width: 35px;
                    margin: 10px 15px;
                    background-color: #f8f9fa;
                    border: none;
                    border-radius: 50%;
                    transition: all ease-in-out 0.5s;
                    svg {
                        &:hover {
                            animation: shake 0.5s ease-in-out 1 forwards;
                            cursor: pointer;
                        }
                    }
                    &:hover {
                        color: rgba(162, 95, 186, 0.6);
                        background-color: rgba(170, 170, 170, 0.4) ;
                    }
                }
                .container-dropdown{
                    .nav-item {
                        margin-right: 40px;
                        font-weight: 600;
                        color: #495057;
                    }
                }                
            }
        }
        .admin-main {
            flex-grow: 1;
            overflow-y: auto;
            padding: 20px 30px;
        }
    }
}