.manage-user-container {
    .title {

    }
    .users-content{
        .btn-add-new{
            button {
                display: flex;
                align-items: center;
                padding: 6px 10px;
                border: none;
                border-radius: 6px;
                gap: 6px;
                cursor: pointer;
            }
        }
    }
}

.modal-add-user {
    .label-upload{
        display: flex;
        align-items: center;
        color: #ffffff;
        background-color: #b5c99a;
        width: fit-content;
        padding: 2px 8px;
        border: none;
        border-radius: 6px;
        font-size: 14px;
        font-weight: 600;
        gap: 5px;
        transition: all ease-in-out 0.5s;
        cursor: pointer;
        &:hover {
            background-color: rgba(181, 201, 154, 0.8);
        }
    }
    .img-preview {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #AAAAAA;
        font-weight: 600;
        margin-top: 5px !important;
        height: 150px;
        border: 1px dashed #dee2e6;
        border-radius: 10px;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}